<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being comitted into version control.
 */

return array(
    'simple_fm_host_params' => array(
        'hostname' => 'localhost',
        'dbname'   => 'FMServer_Sample_Web',
        'username' => 'Admin',
        'password' => ''
    ),
    'sfm_auth' => array(
        'simple_fm_host_params' => array(
            'hostname' => 'localhost',
            'dbname'   => 'FMServer_Sample_Web',
        ),
        'sfm_login_route' => '/login',
        'sfm_logout_route' => '/logout',
        'sfm_session_namespace' => 'SimpleFM',
        'sfm_exempt_controllers' => array(
            'Application\Controller\LoginController',
            'Application\Controller\LogoutController',
        ),
        'sfm_auth_params' => array(
            'encryptionKey' => '56cb36c21eb9a29c1317092b973a5f9cba393a367de783af45a2799f7304092c',
            'appUsername'   => '',
            'appPassword'   => '',
            'identityLayout' => 'Personnel',
            'accountNameField' => 'Email',
        ),
    ),
);
